
<div class="container grid">
  <div id="grid-item-wrapper">
    <% @looks.each do |look| %>
      <div class="grid-item">
        <h4><%=look.title%></h4>
        <img src="<%=look.img%>" class="grid-img">
        <ul>
          <li><%= pluralize(look.votes.count, "boost") %></li>
          <li><%= button_to '+1', upvote_look_path(look), method: :post %></li>
          <!-- <td><%= link_to 'Show', look %></td>
          <td><%= link_to 'Edit', edit_look_path(look) %></td> -->
          <li><%= link_to 'Destroy', look, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
        <h4>uploaded by <a href="/<%=look.user.id%>"><%= look.user.email %></a></h4>
      </div>
    <% end %>
  </div>
</div>
