
<div class="container">

  <div class="row">

    <%= link_to "Back to looks", :back, :class => "back" %>
    <div class="newlook">
    <a href="javascript:window.open('/looks/new?color_id=<%=@color_id%>&room_id=<%=@room_id%>', 'NewLook', 'width=600,height=400');">+ New Look</a>
  </div>
</div>
</div>

  <div class="container grid">
  <div class="grid-item-wrapper">
    <h1><%=@color_name%> <%=@room_name%> Looks</h1>
    <% @looks.each do |look| %>
      <div class="grid-item">
        <h4><%=look.title%></h4>
        <div class="look-info">
        <div class="img-container">
          <div class="delete"><%= link_to image_tag('square.png'), look, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          <img src="<%=look.img%>" class="grid-img">
          <div class="boost-button"><%= button_to '+1', upvote_look_path(look), method: :post %></div>
        </div>
          <p>boosted <b><%=look.votes.count%></b> times</p>
          <p>uploaded by <a href="/<%=look.user.id%>"><%= look.user.email %></a></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
