
<div class="container">

  <div class="row">
    <div class="newlook">
    <a href="javascript:window.open('/looks/new?color_id=<%=@color_id%>&room_id=<%=@room_id%>', 'NewLook', 'width=600,height=400');">+ New Look</a>
  </div>
</div>
</div>

  <div class="container grid">
  <div id="grid-item-wrapper">
    <% @looks.each do |look| %>
      <div class="grid-item">
        <h4><%=look.title%></h4>
        <img src="<%=look.img%>" class="grid-img">
        <h4>uploaded by <a href="/<%=look.user.id%>"><%= look.user.email %></a></h4>
      </div>
    <% end %>
  </div>
</div>
