<!DOCTYPE html>
<html>
<head>
  <title>~ House of Hues ~</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="wrapper">
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">  <%= image_tag 'hoh.gif', :id => "logo" %></a>
        </div>
        <div class="text-right">
          <% if current_user %>
              <p class="welcome">Welcome, <%= link_to current_user.email, user_path(current_user.id) %></p>
              <p class="logout"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>
          <% else %>
              <%= link_to 'Login', new_user_session_path %>
          <% end %>
        </div>
        <ul class="nav navbar-nav">
        </ul>
      </div>
    </nav>
  </header>

  <div id="content">
    <%= yield %>
  </div>

  <footer class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-right">
        <p>© House of Hues</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-right">
        <p>Made with 💜 by <a href="https://github.com/alisonmae/houseofhues">Lauren, Ali Mae, James, & Noble</a></p>
      </div>
    </div>
  </footer>
</div>
</body>
  <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
